<h1>Listing users</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster['Name'] %></td>
        <td><%= monster['Toughness'] %></td>
      </tr>
  <% end %>
</table>

<br>
